* {
    color: #ffffff;
    z-index: 1;
}

body {
    padding: 32px 64px;
}

#header {
    position: fixed;
    background: #121212;
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 64px;
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
}

#homeUrl {
    text-decoration: none;
    perspective: 2em;
}

#homeUrl h1 {
    font-family: 'default';
    font-size: 50px;
    font-weight: 700;
    transform: rotateX(10deg);
    transition: transform 0.5s;
    color: #db0000;
}

#homeUrl h1:hover {
    transform: rotateX(20deg);
}

#tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
}

#tabs h2 {
    font-weight: 200;
    font-size: 20px;
}

#tabs h2:first-of-type {
    font-weight: 700;
}

/* 
background
*/

#bg {
    position: fixed;
    display: flex;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
}

#bg .black {
    height: 100vh;
    /* black size */
    width: 35vw;
    background: #000000;
    z-index: 0;
}

#bg .gradient {
    height: 100vh;
    /* gradient size */
    width: 800px;
    background: linear-gradient(90deg, #000000, #00000000);
    z-index: 0;
}

#bg img {
    height: 100%;
    position: absolute;
    /* image offset */
    right: 0vh;
    top: 0;
    z-index: -1;
}

/* 
main content
*/

#content {
    width: 50vw;
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#flags {
    display: flex;
    align-items: center;
}

#flags span:first-of-type {
    padding-left: 0;
}

#flags span:last-of-type {
    border: 0;
}

#flags span {
    font-weight: 1000;
    text-transform: uppercase;
    padding: 0 16px;
    font-size: 20px;
    border-right: #ffffff solid 1px;
}

#title {
    display: flex;
}

#title div {
    font-family: 'default';
    font-weight: 1000;
    font-size: 15vh;
    margin-right: 16px;
}

.btn {
    white-space: nowrap;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 1000;
    width: min-content;
}

#description {
    font-family: monospace;
    color: gray;
    line-height: 24px;
}

#playBtn {
    border: #db0000 solid 1px;
    background: #db0000;
}

#playBtn:hover {
    background: none;
    border: #ffffff solid 1px;
}

#suggestionsContainer {
    position: fixed;
    bottom: 32px;
}

#suggestionsContainer h1 {
    text-transform: uppercase;
    font-family: 'default';
    margin-bottom: 32px;
}

#suggestions {
    display: flex;
    gap: 32px;
    cursor: pointer;
}

.suggestion {
    width: 130px;
    overflow: hidden;
}

.suggestion img {
    background: red;
    height: 160px;
}

.suggestion h2 {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 0;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
episodes
*/

#episodesContainer {
    position: fixed;
    width: 100vw;
    height: 90vh;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
}

#episodesWindow {
    position: fixed;
    width: 70vw;
    height: 70vh;
    background: #121212;
    border-radius: 16px;
    overflow: hidden;
}

#episodesTitle {
    font-size: 40px;
    overflow: scroll;
    padding: 16px 32px !important;
    margin: 0 !important;
}

#episodesContent h1 {
    font-family: 'default';
    font-weight: 100;
    margin: 16px 32px;
}

#episodes {
    height: calc(70vh - 80px);
    overflow: scroll;
}

.episode:first-of-type {
    border-top: #505050 1px solid;
}

.episode {
    height: 96px;
    display: flex;
    align-items: center;
    width: calc(70vw - 32px);
    padding-right: 32px;
    border-bottom: #505050 1px solid;
}

.episode .num {
    padding: 0 16px;
    color: #d3d3d3;
}

.episode .title {
    font-size: 16px;
}

.episode .description {
    font-size: 16px;
    color: #c5c5c5;
}

.episode:hover {
    background: #505050;
}